.header{
    background-color: white;
}

.header__content{
    display: flex;
    justify-content: space-between;
}

.header__content__logo__img{
    max-width: 20%;
}

.header__content__nav{
    list-style-type: none;
    max-width: 100%;
}

.header__content__nav__link{
    display: inline;
}

.header__content__nav__link a{
    text-decoration: none;
}